@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.ServiciisMain {
  overflow-x: hidden; 
}

.HomeServicii {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0px;
  padding: 0px;
}

.dronebg {
  height: 374px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.pagetitle {
  margin-top: 40px;
  align-items: center;
  color: #56c73a;
  font-family: "Raleway";
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
  letter-spacing: 7.2px;
  text-transform: uppercase;
}
.pagep {
  margin-right: 7rem;
  margin-left: 7rem;
  align-items: center;
  color: var(--Matt-Black, #2e343f);
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
}

@media (max-width: 768px) {
  .HomeServicii {
    display: block; 
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .dronebg {
    height: auto;
    width: 100%; 
    margin: 0;
    padding: 0;
  }

  .pagetitle {
    margin-top: 20px;
    font-size: 28px;
    letter-spacing: 5.6px; 
  }

  .pagep {
    margin-right: 1rem; 
    margin-left: 1rem; 
    font-size: 16px; 
    line-height: 150%;
  }
}

@media (max-width: 768px) {
 
  .dronebg {
    height: 300px !important;
    width: 100%; 
    margin: 0;
    padding: 0;
  }


}
